<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/add" method="POST">
         <label>Breed Name</label>
         <input type="text" name="name" placeholder="breed name">
         <label>Size</label>
         <input type="text" name= "size" placeholder="size..">
         <label>Price</label>
         <input type="text" name= "price" placeholder="price..">
         <label>Activity</label>
         <input type="number" name= "activity" placeholder="activity..">
         <label>Hair Length</label>
         <input type="text" name="hair" placeholder="hair length">
         <button type="submit">Add</button>
      </form>
   </body>
</html>