<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index.css')}}" />

    <script async src="//jsfiddle.net/davidThomas/wDSbT/2/embed/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
    

   

    <script>
        $(function(){
          $(".chosen-select").chosen({ "disable_search": true });//this disables the default search option
              // $(".chosen-container").hover(function(){
          $(".chosen-container-sigle").hover(function(){
            $(this).addClass("chosen-with-drop");
            $(this).addClass("chosen-container-single");
            $(".chosen-select").trigger("chosen:open");
        });
          });
    </script>
    <title>Breed Picker</title>
</head>


    <body>
        <div class = "firstSec"> 
            <div class= "center">
        
              <form action="/" method="POST">
                <div class = "firstRow">
                  <select id="Social Side" name="social" class="chosen-select" title="Social Level">
                    <option value="before" selected hidden>Sociability</option>
                    <option value="all">All</option>
                    <option value="1">Loner</option>
                    <option value="2">Kid/Dog Friendly</option>
                  </select>
                

                <select id="size" name="size" class="chosen-select"  title="Size">
                  <option value="" selected disabled hidden>Size</option>
                  <option value="All">All</option>
                  <option value="S">Small</option>
                  <option value="M">Medium</option>
                  <option value="L">Large</option>
                </select>
                </div>
                <div class = "firstRow">
                <select id="active" name="active" class="chosen-select" title = "Activity Lvl">
                  <option value="" selected disabled hidden>Activity Lvl</option>
                  <option value="all">All</option>
                  <option value="1">Calm</option>
                  <option value="2">Playful</option>
                  <option value="3">Highly Active</option>
                </select>
            
           
                <select id="price" name="price" class="chosen-select" title="Price">
                  <option value="" selected disabled hidden>Price</option>
                  <option value="All">All</option>
                  <option value="affordable">affordable</option>
                  <option value="the-middle">in-the-middle</option>
                  <option value="expensive">expensive</option>
                </select>

                <select name="vocal" class="chosen-select" title = "Vocal">
                  <option value="" selected disabled hidden>Vocal Lvl</option>
                  <option value="All">All</option>
                  <option value="1">Quiet</option>
                  <option value="2">Medium</option>
                  <option value="3">Loud</option>
                </select>

               <input type="submit" value="search"> 
              </div> 
                
              </form>
        <!-- <div class = "Dropdown">
            <button class="choiceBut">Green</button>
            <button class="choiceBut">Child/Dog Friendly</button>
            <button class="dropbtn">S</button>
            <div class="dropdown-content">
            <button class="choiceBut">Green</button>
            <button class="choiceBut">Blue</button>
        </div> -->
            
        </div>
      </div>
    </body>
</html>